@model IEnumerable<ThirdNote.Models.Note>

@{
    ViewBag.Title = "Tag | " + (string.IsNullOrEmpty(ViewBag.Tag.Lable_en)? ViewBag.Tag.Label:ViewBag.Tag.Lable_en).ToLower();
    //"Tag " + ViewBag.Tag.Lable_en;
}


<div class="row">
    <div class="col-2 offset-1 d-flex flex-row justify-content-center">
        <a class="btn btn-outline-warning btn-nav" href="/Tag/Edit/@ViewBag.Tag.ID">Edit Tag</a>
    </div>
    <div class="col-8 d-flex align-items-center">
        <h2 style="margin-bottom:0;"><span class="badge bg-dark bg-gradient text-light rounded-pill">@ViewBag.Tag.Lable_fa</span></h2>
    </div>
</div>
    <div class="row">
        <div class="col-12">
            @*####################( Only Tagged Notes )####################*@
            @Html.Partial("~/Views/Note/List.cshtml", Model)
        </div>
    </div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/dir-auto")
    }
