@import url(../bootstrap.css);
body {
  /*font: 100% $font-stack;*/
  /*color: $primary-color;*/
  background-color: #ffffff;
  padding-top: 0px;
  padding-bottom: 20px;
  /*background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);*/
  /*font-family: 'Roboto', sans-serif;*/ }

.navbar-nav {
  flex-direction: row;
  display: flex;
  gap: 0.5rem;
  background: transparent; }
  .navbar-nav a {
    flex: 1;
    color: #124F8E;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease-out; }
  .navbar-nav a:hover {
    text-shadow: 0 0 10px #0680CB;
    /*background-color: #d4d9df;*/
    color: #1B2D51; }

form {
  margin-left: 100px; }

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px; }

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  /*max-width: 80%;*/
  outline: none;
  border: none; }

footer {
  font-size: 0.8rem; }

label {
  text-align: end;
  /*    justify-self:center;*/ }

.dir-rtl {
  direction: rtl;
  text-align: justify;
  text-justify: kashida; }

.dir-ltr {
  direction: ltr;
  text-align: justify;
  text-justify: inter-word; }

dl {
  margin-bottom: 0.5rem; }

dl.timeline {
  list-style-type: none;
  position: relative; }

dl.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400; }

dl.timeline > dd {
  margin: 20px 0;
  padding-left: 20px; }

dl.timeline > dd:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #22c0e8;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400; }

.crop {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%; }

table {
  table-layout: fixed;
  width: 100%;
  /* Table Sticky Header */ }
  table th {
    --bs-table-bg: #8c5c43;
    color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 1; }
  table tr:hover {
    color: #ffffff;
    background-color: rgba(140, 92, 67, 0.6); }
  table td a {
    text-decoration: none;
    display: block;
    color: #0d1110; }
    table td a:hover {
      color: #ffffff;
      text-shadow: 0 0 3px #ffffff; }

.right {
  float: right; }

.btn-nav {
  width: 70%;
  align-self: center;
  flex-flow: column;
  display: flex;
  vertical-align: unset; }

p {
  margin-bottom: 0;
  margin-top: 0; }

.task-todo:hover, .task-doing:hover, .task-done:hover, .task-notdo:hover {
  text-shadow: 0 0 1px;
  text-decoration: none; }

.task-todo {
  color: #0680CB; }

.task-doing {
  color: #F6A609; }

.task-done {
  color: rgba(99, 146, 54, 0.7);
  text-decoration: line-through;
  text-decoration-style: dotted; }

.task-notdo {
  color: rgba(185, 188, 180, 0.8);
  text-decoration: line-through;
  text-decoration-style: double; }

img[alt=doc] {
  width: 100%; }

audio {
  width: 100%; }

#Markdown, #Pin, #Private {
  padding-left: 1.5rem; }
